body{background-image: url("img/img.fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll, fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul{display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a{color: white;
    text-decoration: none;
}

img{width: 150px;
    height: 250px;
    border: 5px solid;
    color: black;
}

.center{text-align: center;
}